# Dependências
node_modules/
dist/
data/

# Banco de Dados
*.sqlite
*.sqlite-journal
src/database/seedDemoData.ts
# Variáveis de ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/
*.lcov
seed_sample.js
test-certificate.ts


# IDEs
.vscode/
.idea/
.antigravity/

dist/
storage/
package-lock.json

.agent
README_PRIVADO.md
src/database/seedProgramming.ts