/* AUTH PROFILE VIEW */
.user-avatar-large {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: rgba(0, 245, 212, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border: 2px solid var(--primary);
    box-shadow: 0 0 20px rgba(0, 245, 212, 0.2);
}

.btn-dashboard {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--border-med);
    color: white;
    font-weight: 700;
    padding: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn-dashboard:hover {
    background-color: var(--primary);
    color: var(--bg-dark);
    border-color: var(--primary);
}

.btn-dashboard.outline {
    border-color: #ef4444;
    /* Red border for logout */
    color: #ef4444;
}

.btn-dashboard.outline:hover {
    background-color: #ef4444;
    color: white;
}